@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

// Modules
@import "modules/header.scss";
@import "modules/menu.scss";
@import "modules/logo.scss";
@import "modules/full-screen-bg.scss";

html,
body {
  font-size: 14px;
  color: #606060;
  font-family: 'Lato', sans-serif;
  vertical-align: baseline;
  line-height: 26px;
  font-weight: 400;
  background: #ffffff;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  height: auto;
}
