<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <% for (css in htmlWebpackPlugin.files.css) { %>
    <link
    href="<%= htmlWebpackPlugin.files.css[css] %>"
    rel="stylesheet">
  <% } %>
  <title>Alex Ismailov</title>
</head>
<body>
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="logo">
            <a href="#">
              <img class="logo" src="/assets/img/logoA.png" alt="" class="logo">
            </a>
          </div>
        </div>
        <div class="col-sm-8">
          <nav class="menu">
            <ul class="menu--list">
              <li class="menu--item">Home</li>
              <li class="menu--item">My work</li>
              <li class="menu--item">Education</li>
              <li class="menu--item">Contact</li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <section class="full-screen-bg">
    <h1>Hello! I`m Alex Ismailov</h1>
  </section>
  <main>
    <div class="container">
      <div class="row">
        <section class="abput-me">
          About me info
        </section>
      </div>
      <div class="row">
        <section class="work">
          Here is my projects
        </section>
      </div>
      <div class="row">
        <section class="education">
          Here is info about my education
        </section>
      </div>
    </div>
  </main>
  <footer>
    <div class="phone"></div>
    <div class="email"></div>
    <div class="links"></div>
  </footer>

  <% for (index in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[index] %>" type="text/javascript"></script>
  <% } %>
</body>
</html>
