<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <% for (css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
  <% } %>
  <title>Alex Ismailov</title>
</head>
<body>
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <div class="logo">
            <a class="logo--link" href="#">
              <i class="fas fa-angle-left"></i>
              <span>Alis</span>
              <i class="fas fa-angle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-sm-7">
          <nav class="menu">
            <ul class="menu--list">
              <li class="menu--item">HOME</li>
              <li class="menu--item">MY WORK</li>
              <li class="menu--item">EDUCATION</li>
              <li class="menu--item">CONTACT</li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <section class="full-screen-bg">
    <div class="full-screen-bg--triangle-bg">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="full-screen-bg--content-wrapper">
              <h1 class="full-screen-bg--title">Hello! I`m Alex Ismailov</h1>
              <h3 class="full-screen-bg--text">I am a Frontend developer</h3>
              <div class="full-screen-bg--buttons">
                <ul class="full-screen-bg--buttons-list">
                  <li>
                    <a class="full-screen-bg--button" href="#">READ MORE</a>
                  </li>
                  <li>
                    <a class="full-screen-bg--button" href="#">DOWNLOAD CV</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <main>
    <section class="about-me">
      <div class="about-me--rectangular-bg">
        <h1 class="about-me--title">About me</h1>
      </div>
      <div class="about-me--triangle-bg">
        <div class="container">
          <div class="row">
            <div class="about-me--content">
              About me Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus repellat ullam repudiandae veniam? Quis quae aperiam ad sunt odio iure inventore aliquam, autem quidem suscipit. Odit sit eos nisi eum sint nostrum sunt odio itaque placeat nesciunt cupiditate aperiam consectetur sequi porro, vel soluta tempore, deleniti aut! Fugiat, esse tempora.
            </div>
          </div>
        </div>

      </div>
    </section>




    <div class="container">
      <div class="row">
        <section class="work">
          Here is my projects
        </section>
      </div>
      <div class="row">
        <section class="education">
          Here is info about my education
        </section>
      </div>
    </div>
  </main>
  <footer>
    <div class="phone"></div>
    <div class="email"></div>
    <div class="links"></div>
  </footer>

  <% for (index in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[index] %>" type="text/javascript"></script>
    <% } %>
</body>

</html>
