.full-screen-bg {
  height: 100vh;
  background: url('../../assets/img/bg3-with-me.jpg') bottom right;
  background-size: cover;
  position: relative;

  &--layer-2 {
    background-image:linear-gradient(10deg,#1e2528 25%,rgba(104,109,114,0.06) 10%);
    height: inherit;
  }

  &--content-wrapper {
    margin-top: 300px;
  }

  &--title {
    font-size: 65px;
    font-weight: 700;
  }

  &--text {
    font-size: 40px;
    font-weight: 400;
    color: rgb(126, 126, 126);
  }

  // &--buttons {
  //   background: rgb(96, 96, 96);
  // }

  &--buttons-list {
    list-style: outside none none;
    margin: 40px 0 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 25%;
  }

  &--button {
    text-decoration: none;
    background: #444444;
    color: #ffffff;

    font-size: 12px;
    border: 1px solid #444444;
    display: inline-block;
    border-radius: 30px;
    padding: 10px 26px;
    line-height: 23px;
    color: #ffffff;
    font-weight: 400;
  }

  // &--button-white {

  // }

}
