.menu {
  height: 40px;

  &--list {
    display: flex;
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin: 0;
    height: inherit;
  }

  &--item {
    list-style-type: none;
  }
}
